<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-controller="shellController as shell">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>nodolus &trade;</title>
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- inject:style:css -->
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/vendor-min.css">
    <!-- endinject -->

    <!-- inject:head:js -->
    <script src="/client/scripts/vendor-min.js"></script>
    <!-- endinject -->

    <link rel="stylesheet" type="text/css" id="mainthemefile" />
    <link rel="stylesheet" type="text/css" id="languageCssfile" />

    <!--<link rel="stylesheet" type="text/css" href="themes/default/tree-control.css"  />-->
    <link href="themes/default/ide.css" type="text/css" rel="stylesheet" />


    <!--<link href="scripts/scrolling-tabs/scrolling-tabs.css" type="text/css" rel="stylesheet" />-->

    <script type="text/javascript" src="scripts/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="@nodulus/modules/nodulus_mapping.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script src="scripts/vendor/angular-tree-control.js" type="text/javascript"></script>
</head>

<body unresolved style="overflow: hidden;padding-bottom: 50px;">




    <div id="view" ng-view layout-fill></div>

    <script type="text/ng-template" id="confirmationModal.html">
        <div class="panel panel-danger">
            <div class="panel-heading">Confirm</div>
            <div class="panel-body">{{message}}</div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <!-- inject:client:js -->
    <script src="/client/scripts/client-min.js"></script>
    <!-- endinject -->




</body>

</html>