<md-bottom-sheet class="md-list md-has-header continer-full">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-folder-open"></i> Category Actions</div>
        <div class="panel-body"><md-item ng-repeat="item in items">
    <md-button aria-label="{{item.name}}" ng-click="listItemClick($index)">
        <!-- Using custom inline icon until md-icon is ready. DONT USE ME! -->
        <i class="{{item.icon}}"></i>

        <span class="md-inline-list-icon-label">{{ item.name }}</span>
    </md-button>
</md-item></div>
    </div>
     
</md-bottom-sheet>