


<nav class="navbar navbar-inverse navbar-fixed-top" style="direction: {{$Language.language.direction}}">
    
        <a class="navbar-header">
            <div class="navbar-brand"><span class="icon-nodulus iconsize-18 pull-left"></span> nodulus&trade;</div><span class="navbar-brand" ng-click='Logoff()'>
                <span class="fa fa-user"></span> {{$User.User.email}}
            </span>
        </a>
        <div id="navbar" class="navbar-collapse collapse pull-right flip">
            <ul class="nav navbar-nav nav-tabs">
                <!--<li><a ng-click='dashboard()'>Dashboard</a></li>-->
                <li><a ng-click='LoadSettingsPage()'>{{"Settings" | translate}}</a></li>
                <li><a ng-click='LoadModulesPage()'>{{"Modules" | translate}}</a></li>


                <!--<li><a ng-click='profile()'>Profile</a></li>
                <li><a ng-click='help()'>Help</a></li>-->
            </ul>
            <form class="navbar-form pull-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
     
</nav>

<md-progress-linear md-mode="indeterminate" data-ng-show="TreeLoading"></md-progress-linear>

<div class="container-full" style="height: {{PaneHeight-150}}px;direction: {{$Language.language.direction}}">
    
    <div id="sidebar" class="col-lg-2 col-md-3 col-sm-3 col-xs-3 sidebar" style="height: {{PaneHeight}}px;">
       
        <div ng-repeat="menu in $TreeMenu.Menus" layout="column">

          
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              

                <nav-loader navname="menu.navname" module="menu"></nav-loader>

                <!--<div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="{{menu.name}}">
                        <span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{menu.name}}"
                              aria-expanded="true" aria-controls="collapse{{menu.name}}">
                            <i class="{{menu.icon}}"></i> {{menu.name | translate}}
                        </span>


                        <span class="pull-{{$Language.language.alignInvert}}">
                            <a class="btn btn-info btn-xs" ng-click='menu.AddCategory(menu)' title="{{menu.name}}"><i class="fa fa-plus"></i> </a>
                        </span>
                    </div>
                    <div id="collapse{{menu.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{menu.name}}">


                        <div class="panel-body">
                            <abn-tree tree-data="menu.children" ng-if="menu.children"
                                      tree-control="menu"
                                      icon-leaf="icon-file"
                                      icon-expand="icon-plus-sign"
                                      icon-collapse="icon-minus-sign"
                                      on-select="showSelected(branch)"
                                      expand-level="2"
                                      initial-selection="">

                            </abn-tree>
                        </div>
                    </div>
                </div>-->

            </div>
            
            <!--on-node-toggle="loadSelected(node, expanded)"
            tree-model="menu"
            selected-node="ActiveTreeNode"
            options="treeOptions"
            on-selection="showSelected(node)"
            on-right-click="showTreeBottomSheet(node)"-->
            <!--<md-button class="md-fab md-primary"  aria-label="Edit" ng-click='AddCategory()'>
                <i class="fa fa-plus" style="font-size: 35px;"></i>
            </md-button>-->
        </div>


    </div>



    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 main" style="height: {{PaneHeight}}px;" id="TabsCollection">


        <div scrolling-tabs-wrapper watch-tabs="$IDE.Tabs">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active': $IDE.ActiveTreeNode === tab}" ng-repeat="tab in $IDE.Tabs" ng-mousedown="$IDE.onTabSelected(tab, $event)">
                    <a>
                        <buttun aria-label="Close" ng-click='$IDE.CloseTab(tab)'>
                            <i class="fa fa-times fa-2"></i>
                        </buttun>

                        <span ng-bind="tab.name" ng-hide="tab.menutoggle"></span>
                        <span ng-class="{'fa fa-save': tab.dirty}"></span>
                      

                        <span class="btn-xs dropdown-toggle" data-toggle="dropdown" type="button" ng-click="tab.menutoggle = !tab.menutoggle">

                            <span ng-class="{ 'fa fa-caret-right' : tab.menutoggle, 'fa fa-caret-down' : !tab.menutoggle}"></span>


                        </span>

                        <span ng-show="tab.menutoggle">
                            <button ng-click="Refresh(tab)" class="btn btn-xs btn-primary"><span class="fa fa-refresh"></span></button>
                            <button ng-click="CopyLink(tab)" class="btn btn-xs btn-warning"><span class="fa fa-copy"></span></button>
                            <button ng-click="PopLink(tab)" class="btn btn-xs btn-success"><span class="fa fa-external-link"></span></button>
                        </span>
                        <!--<ul class="dropdown-menu">
                            <li ng-click="Refresh(tab)"><span class="fa fa-refresh"></span></li>
                            <li ng-click="CopyLink(tab)"><span class="fa fa-copy"></span></li>
                            <li ng-click="PopLink(tab)"><span class="fa fa-pop"></span></li>
                        </ul>-->


                    </a>
                    <!--<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>-->
                </li>

            </ul>
        </div>




        <div class="panel panel-default" style="border-top-style: none;">

            <div id="TabContainer" class="panel-body" style="height: {{PaneHeight-65}}px;padding: 4px;"></div>

        </div>




    </div>

</div>


<section layout="horizontal" flex style="direction: {{$Language.language.direction}}">


    <div class="col-md-3 show-grid pull-right" style="position: absolute;bottom: 0; right: 0;">
        <uib-alert ng-repeat="alert in $Alerts.alerts"
                   type="{{alert.type}}"
                   dismiss-on-timeout="{{alert.timeout}}"
                   close="$Alerts.remove(alert)">
            <span class="{{alert.icon}}"></span>
            <p ng-bind-html="alert.msg"></p>
             
        </uib-alert>
    </div>








    <div class="panel panel-primary col-md-2 container-fluid" ng-class="{slideIn: ShowSettings,slideOut: !ShowSettings}"
         style="height: {{PaneHeight}}px;position: absolute;{{$Language.language.alignInvert}}: 5px;top:60px;"
         ng-show="ShowSettings">


        <div class="panel-heading">{{"Options"| translate}}</div>
        <div class="panel-body" data-ng-include="'partials/settings.html'"></div>






    </div>






</section>


<div style="clear: both;"></div>


<footer id="navbar" class="navbar-inverse navbar navbar-fixed-bottom">
    
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-btn"><a href="http://roibh.github.io/nodulus/" target="_blank" class="margined btn btn-sm btn-info" style="padding: 2px!important"><span class="icon-nodulus" style="font-size:28px;"></span>
          </a></li>
        <li class="navbar-btn"><a href="https://github.com/roibh/nodulus" target="_blank" class="margined btn btn-info btn-sm" style="padding: 2px!important"><span class="fa fa-github-square" style="font-size:28px;"></span>
           </a></li>
        
        <li class="spacer"></li>
      
    </ul>
   
</footer>



<!--<footer class="navbar navbar-inverse navbar-fixed-bottom" style="height: 25px!important;min-height: 25px!important;">
    <div class="container-full">
        <ul class="nav navbar-nav container-full">
            <li>
                
            </li>
            

           
            <li class="pull-right flip"><a style="padding: 0!important;" href="http://roibh.github.io/nodulus/" target="_blank" class="btn btn-default"><i class="icon-nodulus" style="font-size:28px;"></i></a></li>
            <li class="pull-right flip"><a style="padding: 0!important;" href="https://github.com/roibh/nodulus" target="_blank" class="btn btn-default"><i class="fa fa-github-square" style="font-size:28px;"></i></a></li>
        </ul>
    </div>
</footer>-->
