
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1053239254694437',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div ng-controller="AccountController" style="position: relative;">

    <div class="fb-like"
         data-share="true"
         data-width="450"
         data-show-faces="true">
    </div>

    <nav class="navbar navbar-toolbar navbar-default" style="height: 30px;width: 100%" flex>
        <div class="btn-group pull-right">
            <a ng-click="DeleteWebsite()" class="btn btn-danger"><span class="fa fa-remove"></span> Delete</a>
            <a ng-click="Update()" class="btn btn-primary"
               ng-class="{'btn-success': Saved}"><span ng-class="{'fa fa-circle-o-notch fa-spin': Saving,'fa fa-save': !Saving }"></span>Save</a>


        </div>
    </nav>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            {{item.ActiveAuthUrl}}
            <iframe ng-src="{{item.ActiveAuthUrl}}" style="width: 100%;height: 100%;"></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div id="ProductDialogScope">
        <md-progress-linear mode="indeterminate" data-ng-show="RequestActive" md-theme="{{$Theme.theme}}"></md-progress-linear>



      
        <form style="padding: 20px;" name="websiteForm">



            <a class="btn btn-primary" ng-click="facebookAuth()">Facebook</a>


            <div class="form-group col-lg-6 col-md-6">
                <label>Name</label>
                <input required name="accountname" class="form-control" ng-model="EditObject.Name">
                <div ng-messages="websiteForm.accountname.$error">
                    <div ng-message="required">This is required.</div>

                </div>
            </div>


            <div class="form-group col-lg-6 col-md-6">

                <label>Base URL</label>
                <input class="form-control" required name="BaseUrl" ng-model="EditObject.BaseUrl" md-theme="{{$Theme.theme}}">

                <div ng-messages="websiteForm.BaseUrl.$error">
                    <div ng-message="required">This is required.</div>

                </div>

            </div>

            <div class="form-group col-lg-6 col-md-6">

                <label>paging addition (eg. page={0})</label>
                <input class="form-control" name="PagingAddition" ng-model="EditObject.PagingAddition" md-theme="{{$Theme.theme}}">

                <div ng-messages="websiteForm.PagingAddition.$error">

                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6">
                <label>Number of pages for fetch</label>
                <input class="form-control" name="NumberOfPagesForFetch" ng-model="EditObject.NumberOfPagesForFetch" md-theme="{{$Theme.theme}}">

                <div ng-messages="websiteForm.NumberOfPagesForFetch.$error">

                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6">
                <label>PageUrl</label>
                <input required class="form-control" name="pageurl" ng-model="EditObject.PageUrl">

                <div ng-messages="websiteForm.pageurl.$error">
                    <div ng-message="required">This is required.</div>

                </div>
            </div>


            <div class="form-group col-lg-6 col-md-6">
                <label>App Root (Trigger)</label>
                <input maxlength="30" class="form-control" required name="approot" ng-model="EditObject.AppRoot">

                <div ng-messages="websiteForm.approot.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="maxlength">The trigger has to be less than 30 characters long.</div>
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6">
                <label>Repeat request</label>
                <input maxlength="30" class="form-control" ng-model="EditObject.NumberOfRepeats">


            </div>

            <div class="form-group col-lg-6 col-md-6">
                <label>Content type</label>
                <select placeholder="ContentType" class="form-control"
                        ng-options="type.id as type.name for type in ContentTypes" ng-model="EditObject.ContentType"></select>
            </div>



            <div style="clear: both"></div>
            <hr />


        </form>


        <a class="btn btn-primary" ng-click="Update()">
            Update
        </a>




    </div>


    <nav class="navbar navbar-toolbar navbar-default" style="height: 30px;width: 100%" flex>
        <div class="btn-group pull-right">
            <a ng-click="DeleteWebsite()" class="btn btn-danger"><span class="fa fa-remove"></span> Delete</a>
            <a ng-click="Update()" class="btn btn-primary"
               ng-class="{'btn-success': Saved}"><span ng-class="{'fa fa-circle-o-notch fa-spin': Saving,'fa fa-save': !Saving }"></span>Save</a>


        </div>
    </nav>


 

</div>


