<div ng-controller="EditItemCtrl" ng-init="init()" class="container-full">

    <nav class="navbar" style="height: 30px;width: 100%" flex>
        <div class="btn-group pull-right">
            <a ng-click="deleteItem()" class="btn btn-danger"><span class="fa fa-remove"></span> Delete</a>
            <a ng-click="JsonView = !JsonView" class="btn btn-info" ng-class="{'active': JsonView}"><span class="fa fa-code"></span> JSON </a>
            <a ng-click="SaveItem()" class="btn btn-primary" ng-class="{'btn-success': Saved}"><span ng-class="{'fa fa-circle-o-notch fa-spin': Saving,'fa fa-save': !Saving }"></span> Save</a>
          

        </div>
    </nav>
  
        <div style="height: {{PaneHeight-200}}px; overflow: auto;padding: 10px 10px 10px 10px;">
           
            <h4>{{Name}}</h4>
            
         
           
            <form name="ItemForm"  sf-form="form"  sf-schema="schema" sf-model="model"
                  sfUseDecorator="true" style="position: relative;"
                 
                  ng-show="!JsonView"></form>
           


            <div ng-model="StringfiedItem" ui-ace style="height:{{PaneHeight-350}}px" ng-show="JsonView"></div>
        </div>
    
    <div class="btn-group pull-right">
        <a ng-click="deleteItem()" class="btn btn-danger"><span class="fa fa-remove"></span> Delete</a>
        <a ng-click="JsonView = !JsonView" class="btn btn-info" ng-class="{'active': JsonView}"><span class="fa fa-code"></span> JSON </a>
        <a ng-click="SaveItem()" class="btn btn-primary" ng-class="{'btn-success': Saved}"><span ng-class="{'fa fa-circle-o-notch fa-spin': Saving,'fa fa-save': !Saving }"></span> Save</a>
    

    </div>

</div>
