

<div layout="column">


    <div class="input form-inline form" layout="row">
        <div class="form-group">

            <a class="btn btn-default btn-xs" ng-class="{'notvisible':property.type.name !== 'array' &&  property.type.name !== 'object'}"
               ng-click="(collapsed === undefined ? collapsed=false : collapsed = !collapsed)">
                <i ng-class="{'fa fa-plus': (collapsed || collapsed===undefined), 'fa fa-minus': (!collapsed &&  collapsed!== undefined)}">
                </i>
            </a>
        </div>

        <div class="form-group">

            <small>Field name</small><br />
            <input ng-model-options="{ updateOn: 'blur'}" ng-model="property.key" class="form-control input-sm" />

        </div>
        <div class="form-group">


            <small>Input Label</small><br />
            <input ng-model="property.title" class="form-control input-sm">

        </div>
        <div class="form-group">
            <small>Description</small><br />
            <input type="text" ng-model="property.description" class="form-control input-sm" />
        </div>

        <!--<div class="form-group" ng-class="{'hasChildren': property.children.length > 0, 'noChildren':property.children.length == 0}">
            <label ng-if="property.children.length > 0">{{property.title}}</label>
        </div>-->

        <div class="form-group">


            <small>Property Type</small><br />


            <select class="form-control input-sm" data-ng-model="property.type" data-ng-options="type as type.name for type in Directives track by type.name">
                <option value="">Select Option</option>
            </select>

            <a class="btn btn-succsess btn-sm" ng-click="TypeProperties(property)">
                <div class="col-md-6"><span class="fa fa-cubes"></span> <span class="badge">{{property.form.type.name}}</span></div>


                <div class="col-md-6">
                    <span ng-show="property.form.lookup && property.form.lookupNameField"><small><i class="fa fa-list-alt"></i> {{property.form.lookup}} - {{property.form.lookupNameField}}</small></span>
                    <span ng-show="property.form.nameField"><small><i class="fa fa-header"></i></small> </span>
                </div>
            </a>



        </div>





        <div class="pull-right" style="float:right!important;margin-right: 10px;margin-left: 10px;">
            <a class="btn btn-info btn-xs" ng-if="property.type.name==='object' || property.type.name === 'array'" ng-click="InsertChild(property)"><span class="fa fa-plus"></span></a>



            <div class="btn btn-default  btn-xs schema-small-button-text" ng-click="property.lobby = !property.lobby">
                <label>
                    lobby
                    <input type="checkbox" ng-model="property.lobby" class="input-sm form-control" />
                </label>
            </div>

            <div class="btn btn-default  btn-xs schema-small-button-text" ng-click="property.edit = !property.edit">
                <label>
                    form
                    <input type="checkbox" ng-model="property.edit" class="input-sm form-control" />
                </label>
            </div>




            <a class="btn btn-danger btn-xs" ng-click="DeleteField(property)"><span class="fa fa-minus"></span></a>

        </div>




    </div>

    <div>
        <ul class="list-group">
            <li class="list-group-item no-pad-right" ng-hide="(collapsed || collapsed===undefined) " ng-class="{'list-group-item-info': overed}" ng-mouseover="overed=true" ng-mouseleave="overed=false" ng-repeat="(key, field) in property.properties" ng-hide="collapsed">

                <i class="fa fa-arrow-circle-o-up" ng-click="collapsed = !collapsed" ng-show="field.properties.length > 0"></i>
                <div layout="row">

                    <schema-input parent-collection="property.properties" property="field" parentid="$parent.$parent.$id"></schema-input>

                </div>
            </li>
            <li class="list-group-item" ng-hide="(collapsed || collapsed===undefined) " ng-class="{'list-group-item-info': overed}" ng-mouseover="overed=true" ng-mouseleave="overed=false" ng-repeat="(key, field) in property.items.properties" ng-hide="collapsed">

                <i class="fa fa-arrow-circle-o-up" ng-click="collapsed = !collapsed"
                   ng-if="Object.keys(field.items.properties).length > 0 ||  Object.keys(field.properties).length > 0"></i>
                <div layout="row">

                    <schema-input parent-collection="property.items.properties" property="field" parentid="$parent.$parent.$id"></schema-input>

                </div>
            </li>
        </ul>
    </div>
</div>