<div layout="column" layout-fill layout-padding ng-controller="SchemaCtrl">
        
    <nav class="navbar">
        <div class="form-inline">
            <div class="form-group">
                <label>
                    Schema name:
                </label>
                <input type="text" class="form-control" ng-model="editorData.db.name" />
            </div>

        </div>

        <div class="btn-group pull-right">
            <a class="btn btn-info" ng-click="AddSibiling()"><span class="fa fa-plus"></span>Add</a>
            <a class="btn btn-primary" ng-class="{'btn-success': Saved}" ng-click="saveSchema()">Save</a>
        </div>
    </nav>    
    
    <div style="height: {{PaneHeight-250}}px; overflow: auto;padding: 10px 10px 10px 10px;">    
            <uib-tabset>
                <uib-tab heading="Schema designer" tab-icon="glyphicon glyphicon-cog">
                    <div>
                        <ul class="list-group">                           
                                <li class="list-group-item no-pad-right" ng-class="{'list-group-item-info': overed}" ng-mouseover="overed=true" ng-mouseleave="overed=false"  ng-repeat="(key,field) in editorData.db.properties">
                                        <schema-input  property-name="key" property="field" parent-collection="editorData.db.properties" parentid="$parent.$parent.$id + 1">
                                        </schema-input>
                                </li>
                            </ul>
                    </div>              
                </uib-tab>
                <uib-tab heading="Schema json" editorData="editorData">
                    <div ng-model="editorData.StringfiedSchema" ui-ace style="height:{{PaneHeight-350}}px"></div>
                    <a class="btn btn-primary" ng-click="UpdateSchemaFromJson()">Update schema from JSON</a>
                </uib-tab>
                <uib-tab heading="Data json" editorData="editorData">
                    <div ng-model="editorData.DataSchema" ui-ace style="height:{{PaneHeight-350}}px"></div>
                    <a class="btn btn-primary" ng-click="UpdateSchemaFromData()">Update schema from DATA</a>
                </uib-tab>
            </uib-tabset>
</div>
    





    <nav class="navbar" style="height: 30px;width: 100%" flex>
        

        <div class="btn-group pull-right">
            <a class="btn btn-info" ng-click="AddSibiling()"><span class="fa fa-plus"></span>Add</a>
            <a class="btn btn-primary" ng-class="{'btn-success': Saved}" ng-click="saveSchema()">Save</a>

        </div>
    </nav>

  



</div>
