 
<div id="ToolBoxPop" class="row ToolBoxPop" style="display: none;" data-ng-controller="appsController">




    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#stock" data-toggle="tab" class="fixtab">{{"Stock" | translate}}</a></li>
        <li><a href="#premium" data-toggle="tab" class="fixtab">{{"Premium" | translate}}</a></li>
        <li><a href="#byusers" data-toggle="tab" class="fixtab">{{"Community based" | translate}}</a></li>

    </ul>
    <div class="well col-xs-5" style="margin-bottom: 0; padding-bottom: 3px;">
        <!-- Tab panes -->



        <div class="tab-content">
            <div class="tab-pane active fixtab" id="stock">
                <fieldset class="">
                    <legend>



                        <form class="form-inline" role="form">

                            <div class="form-group input-group col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-addon">{{"Search" | translate}}</div>

                                    <input type="text" ng-model="SearchFilter" class="form-control" />

                                </div>
                            </div>
                            <div class="form-group">
                                <select id="ToolsCategoriesDDl" class="form-control col-lg-6" ng-model="CategoryFilter">
                                    <option value="">{{"All" | translate}}</option>
                                    <asp:Repeater runat="server" ID="ToolsCategoriesDDl">
                                        <ItemTemplate>
                                            <option value="<%#Eval(" Id") %>">{{"xxx" | translate}}<%#Language.Res.Print(Eval("Name").ToString())%></option>
                                        </ItemTemplate>
                                    </asp:Repeater>
                                </select>

                            </div>
                        </form>
                    </legend>
                    <div id="BlockItemsFreeRpt" style="height: 100%; width: 100%;">
                        <section rel="container">

                            <ul style="width: 100%; overflow: auto; height: 100%; margin: 0; padding: 0;">
                                <li ng-repeat="app in ScripterStockComponents | orderBy:'Name' | filter:{Category: CategoryFilter} | filter:{Name: SearchFilter} "
                                    class="toolboxItem col-sm-6 col-md-6 thumbnail"
                                    rel="{{app.CodeName}}" category="{{app.Category}}" ng-click="DisplayApp(app);">


                                    <div class="col-md-3" style="min-height: 75px;background-repeat: no-repeat;  background-size: contain; background-image: url('{{app.Gliph}}');">
                                    </div>
                                    <div class="opaque btn btn-info col-md-9" style="min-height: 75px;overflow: hidden" ng-title="{{app.Description}}">
                                        <span class="pull-left text-left">{{app.Name}}</span>
                                        <p>
                                            <abbr class="pull-left text-left">{{app.Description}}</abbr>
                                        </p>
                                        <abbr class="pull-right text-right pull-bottom">{{app.Author.Name}}</abbr>
                                    </div>

                                </li>
                            </ul>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fixtab" id="premium">
                <fieldset class="">
                    <legend>
                        <select id="ToolsCategoriesDDl2" class="form-control" ng-model="CategoryFilter">
                            <option value="">{{"All" | translate}}</option>
                            <asp:Repeater runat="server" ID="ToolsCategoriesDDl2">
                                <ItemTemplate>
                                    <option value="<%#Eval(" Id") %>"><%#Language.Res.Print(Eval("Name").ToString())%></option>
                                </ItemTemplate>
                            </asp:Repeater>
                        </select>
                    </legend>
                    <div id="BlockItemsPremiumRpt" style="height: 100%; width: 100%;">
                        <section rel="container">
                            <ul style="width: 100%; float: left; overflow: auto; height: 100%; margin: 0; padding: 0;">
                                <li ng-repeat="app in ScripterPremiumComponents | orderBy:'Name' | filter:{Category: CategoryFilter} "
                                    class="toolboxItem col-sm-6 col-md-6 thumbnail" rel="{{app.CodeName}}" category="{{app.Category}}"
                                    ng-click="DisplayApp(app);">

                                    <div class="col-md-3" style="min-height: 75px;background-repeat: no-repeat;  background-size: contain; background-image: url('{{app.Gliph}}');">
                                    </div>
                                    <div class="opaque btn btn-info col-md-9" style="min-height: 75px;overflow: hidden" ng-title="{{app.Description}}">
                                        <span class="pull-left text-left">{{app.Name}}</span>
                                        <abbr class="pull-left text-left">{{app.Description}}</abbr>
                                    </div>



                                </li>
                            </ul>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fixtab" id="byusers">
                <fieldset class="">
                    <legend>
                        <select id="ToolsCategoriesDDl3" class="form-control" ng-model="CategoryFilterUser">
                            <option value="">{{"All" | translate}}</option>
                            <asp:Repeater runat="server" ID="UserCategories">
                                <ItemTemplate>
                                    <option value="<%#Eval(" Id") %>"><%#Language.Res.Print(Eval("Name").ToString())%></option>
                                </ItemTemplate>
                            </asp:Repeater>
                        </select>
                    </legend>
                    <div id="BlockItemsUsersRpt" style="height: 100%; width: 100%;">
                        <section rel="container">
                            <ul style="width: 100%; float: left; overflow: auto; height: 100%; margin: 0; padding: 0;">
                                <li ng-repeat="app in ScripterUserComponents | orderBy:'Name' | filter:{Category: CategoryFilterUser} " class="toolboxItem col-sm-6 col-md-6 thumbnail"
                                    rel="{{app.CodeName}}" category="{{app.Category}}" ng-click="DisplayApp(app);">

                                    <div class="col-md-3" style="min-height: 75px;background-repeat: no-repeat;  background-size: contain; background-image: url('{{app.Gliph}}');">
                                    </div>
                                    <div class="opaque btn btn-info col-md-9" style="min-height: 75px;overflow: hidden" ng-title="{{app.Description}}">
                                        <span class="pull-left text-left">{{app.Name}}</span>
                                        <abbr class="pull-left text-left">{{app.Description}}</abbr>
                                    </div>



                                </li>
                            </ul>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="well GalleryWelcome" id="GalleryWelcome" style="margin-left: 5px;">
            <h1>{{"Scripter block gallery" | translate}}</h1>
            <p>{{"Scripter block gallery slogan" | translate}}</p>
        </div>
        <div class="well" id="BasicItemInfo" style="display: none; margin-left: 5px;">
            <h2 class="text-primary">{{SelectedApp.Name}}</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_Overview" data-toggle="tab">{{"Overview" | translate}}</a></li>
                <li><a href="#tab_examples" data-toggle="tab">{{"Examples" | translate}}</a></li>
                <li><a href="#tab_messages" data-toggle="tab">{{"Messages" | translate}}</a></li>
                <li><a href="#tab_settings" data-toggle="tab">{{"Settings" | translate}}</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content panel panel-primary" style="border-top-left-radius: 0px; border-top-right-radius: 0px; margin-bottom: 10px;">
                <div class="tab-pane panel-body overflow active" id="tab_Overview">

              
                    <p>{{SelectedApp.Description}}</p>

                </div>
                <div class="tab-pane overflow" id="tab_examples ">
                    <p>{{SelectedApp.MerchantOptions.UsageExamples}}</p>
                </div>
                <div class="tab-pane overflow" id="tab_messages">
                    <p>{{SelectedApp.MerchantOptions.Messages}}</p>
                </div>
                <div class="tab-pane overflow" id="tab_settings"></div>
            </div>


            <p><a class="btn btn-primary btn-lg" role="button" ng-click="AddBlock(SelectedApp);">{{"Add" | translate}}</a></p>
        </div>

        <div class="well" id="PremiumItemInfo" style="display: none; margin-left: 5px;">
            <h2 class="text-primary">{{SelectedApp.Name}}</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#ptab_Overview" data-toggle="tab">{{"Overview" | translate}}</a></li>
                <li><a href="#ptab_examples" data-toggle="tab">{{"Examples" | translate}}</a></li>
                <li><a href="#ptab_messages" data-toggle="tab">{{"Messages" | translate}}</a></li>
                <li><a href="#ptab_settings" data-toggle="tab">{{"Settings" | translate}}</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content panel panel-primary" style="border-top-left-radius: 0px; border-top-right-radius: 0px; margin-bottom: 10px;">
                <div class="tab-pane panel-body overflow active" id="ptab_Overview">

 

                    <p ng-bind-html="SelectedApp.MerchantOptions.Description"></p>
                </div>
                <div class="tab-pane overflow" id="ptab_examples">
                    <p>{{SelectedApp.MerchantOptions.UsageExamples}}</p>
                </div>
                <div class="tab-pane overflow" id="ptab_messages">{{SelectedApp.MerchantOptions.Messages}}</div>
                <div class="tab-pane overflow" id="ptab_settings"></div>
            </div>


            <p>
                <a class="btn btn-primary btn-lg" role="button" ng-click="AddBlock(SelectedApp);">{{"Buy" | translate}}</a>
                <a class="btn btn-primary btn-lg" role="button" ng-click="AddBlock(SelectedApp);">{{"Try" | translate}}</a>
            </p>
        </div>



    </div>



</div>


<script type="text/javascript">
    //var BlockInformationFreeDataSource = <%=GetBlockInformationFreeDataSource()%>;
    //var BlockInformationPremiumDataSource = <%=GetBlockInformationPremiumDataSource()%>;
    //var BlockInformationUsersDataSource = <%=GetBlockInformationUsersDataSource()%>;


</script>


<div id="EntryForms" style="display: none;" ng-non-bindable>
    <asp:Repeater runat="server" ID="DataEntryForms">
        <ItemTemplate>

            <script>
                {
                    var dictionaries = <%#(Container.DataItem as Scripter.Pipeline.Blocks.PipeBlockBase).Descriptor.Dictionaries != null ?  (Container.DataItem as Scripter.Pipeline.Blocks.PipeBlockBase).Descriptor.Dictionaries.ToJson(LanguageDescriptor.Lcid) : "{}"%>;
                    if(dictionaries != null)
                        LNG["BLOCKS_<%#Eval("Descriptor.codename") %>"] = dictionaries;
                }
            </script>

            <div id="TPL_<%#Eval(" Descriptor.codename") %>
                ">


                <div rel="<%#Eval(" Descriptor.codename") %>
                    " detachable="<%#Eval("Descriptor.detachable") %>" expandable="<%#Eval("Descriptor.expandable") %>"
                    componentgliph="<%#(Eval("Descriptor.Gliph") !="") ?  Eval("Descriptor.Gliph") : ""  %>">
                    <%#Eval("Descriptor.DataEntryForm") %>

                    <div class="AdditionalTabs">
                        <asp:Repeater runat="server" ID="AdditionalTabs">
                            <ItemTemplate>

                                <asp:PlaceHolder runat="server" ID="TabContent"></asp:PlaceHolder>
                            </ItemTemplate>
                        </asp:Repeater>

                    </div>

                </div>
            </div>

        </ItemTemplate>
    </asp:Repeater>
</div>




