 
 

<md-dialog aria-label="Register information">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-user"></i> sign up</div>
        <div class="panel-body">
            <form name="RegisterForm" novalidate>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" ng-model="Username" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" ng-model="Password" />
                    <div ng-messages="LoginForm.Password.$error">
                        <div ng-message="required">This is required.</div>
                        <!--<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                    </div>
                </div>

                <div class="form-group">
                    <label>Confirm password:</label>
                    <input type="password" class="form-control" ng-model="Password" />
                    <div ng-messages="LoginForm.Password.$error">
                        <div ng-message="required">This is required.</div>
                        <!--<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                    </div>
                </div>

            </form>
            </div>

        <div class="panel-footer">
            <a class="btn btn-primary" ng-click="Register()">Register</a>


            <a class="btn btn-defualt pull-right" ng-href="#login">Login</a>
        </div>

        
    </div>

            

</md-dialog>
<md-progress-linear mode="indeterminate" data-ng-show="RegisterLoading"></md-progress-linear>

<!--<paper-dialog heading="Login information" transition="paper-dialog-transition-bottom" opened>
<paper-input label="Email" data-ng-model="Email"></paper-input>
<paper-input label="Password" type="Password" data-ng-model="Password"></paper-input>
 <paper-button raisedButton class="colored" label="colored" data-ng-click="Login()" affirmative>Login</paper-button>
  
</paper-dialog>-->



 
 
 
 