

<div ng-controller="WebsitesController">



    <a class="btn btn-primary pull-right" ng-click="New()" md-theme="{{$Theme.theme}}"><i class="fa fa-plus"></i>New Website</a>
    <table class="table">
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="website in Websites">
            <td>{{website.Name}}</td>
            <td><a class="btn btn-default" ng-click="Open(website)">
    Open
</a></td>
            <td><a class="btn btn-primary" ng-click="Edit(website)">
    Edit
</a>
</td>
            <td><a class="btn btn-danger" ng-click="Delete(website)">
    Delete
</a></td>

        </tr>
    </table>
   


 

    <script type="text/ng-template" id="websitedialog.html">
        <md-dialog aria-label="Site information" style="width: 80%" layout md-theme="{{$Theme.theme}}">
            <md-content md-theme="{{$Theme.theme}}">


                <div id="ProductDialogScope">
                    <md-progress-linear mode="indeterminate" data-ng-show="RequestActive" md-theme="{{$Theme.theme}}"></md-progress-linear>
                    <md-toolbar md-theme="{{$Theme.theme}}">
                        <h1 class="md-toolbar-tools">{{EditObject.Name}} </h1>

                    </md-toolbar>

                    <form style="padding: 20px;" name="websiteForm">

                        <div layout="row">


                            <md-input-container flex="50">
                                <label>Name</label>
                                <input md-maxlength="30" required name="websitename" ng-model="EditObject.Name" >

                                <div ng-messages="websiteForm.websitename.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                </div>
                            </md-input-container>


                            <md-input-container flex="50" md-theme="{{$Theme.theme}}">
                                <label>Base URL</label>
                                <input md-maxlength="30" required name="BaseUrl" ng-model="EditObject.BaseUrl" md-theme="{{$Theme.theme}}">

                                <div ng-messages="websiteForm.BaseUrl.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                </div>
                            </md-input-container>
                            </div>
                            <div layout="row">

                                <md-input-container flex="50" md-theme="{{$Theme.theme}}">
                                    <label>paging addtion (eg. page={0})</label>
                                    <input md-maxlength="30" required name="PagingAddition" ng-model="EditObject.PagingAddition" md-theme="{{$Theme.theme}}">

                                    <div ng-messages="websiteForm.PagingAddition.$error">
                                        <!--<div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                                    </div>
                                </md-input-container>

                                <md-input-container flex="50" md-theme="{{$Theme.theme}}">
                                    <label>Number of pages for fetch</label>
                                    <input md-maxlength="30" required name="NumberOfPagesForFetch" ng-model="EditObject.NumberOfPagesForFetch" md-theme="{{$Theme.theme}}">

                                    <div ng-messages="websiteForm.NumberOfPagesForFetch.$error">
                                        <!--<div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                                    </div>
                                </md-input-container>

                            </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>PageUrl</label>
                                <input required name="pageurl" ng-model="EditObject.PageUrl">

                                <div ng-messages="websiteForm.pageurl.$error">
                                    <div ng-message="required">This is required.</div>

                                </div>
                            </md-input-container>


                            <md-input-container flex="50">
                                <label>App Root (Trigger)</label>
                                <input md-maxlength="30" required name="approot" ng-model="EditObject.AppRoot">

                                <div ng-messages="websiteForm.approot.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">The trigger has to be less than 30 characters long.</div>
                                </div>
                            </md-input-container>

                            </div>
                        11111{{ContentTypes.length}}4444
                        <md-select placeholder="ContentType" ng-model="EditObject.ContentType">
                            <md-option ng-repeat="type in ContentTypes" value="{{type.name}}">{{type.name}}</md-option>
                        </md-select>

                        <md-switch ng-model="EditObject.Phantomize"  class="md-warn" aria-label="Phantomize" md-theme="{{$Theme.theme}}">
                            Phantomize
                        </md-switch>
                            <div ui-ace ng-model="EditObject.PhantomScript" ng-show="EditObject.Phantomize"></div>


                            <!--<label>Post action</label>
        <div ui-ace ng-model="EditObject.PhantomScriptPost" ng-show="EditObject.Phantomize"></div>-->


</form>


                    <md-button class="md-raised md-primary" ng-click="Update()" md-theme="{{$Theme.theme}}">
                        Update
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="Cancel()" md-theme="{{$Theme.theme}}">
                        Cancel
                    </md-button>



                </div>




            </md-content>

        </md-dialog>
    </script>



