<div ng-controller="ModulesController">
    <md-progress-linear md-mode='indeterminate'  data-ng-show="ModuleLoading"></md-progress-linear>
    


    <div class="container pull-right" style="width: 50%;">
        <div class="panel panel-info ">
            <div class="panel-heading">{{"Installed modules" | translate}}</div>
            <div class="panel-body" style="overflow: auto;height: {{PaneHeight-150}}px;">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="package in ModuleList">
                        <div class="panel panel-primary">
                            <div class="panel-body" ng-click="package.collapsed = !package.collapsed">
                                <span ng-class="{'fa fa-angle-down': package.collapsed, 'fa fa-angle-right': !package.collapsed}"></span>
                                {{package.module.name}}
                            </div>
                            <div class="panel-footer" ng-show="package.collapsed">
                                <div class="col-md-6 col-lg-6">
                                    <a class="link" ng-click="LoadAbout(package)">{{"about"| translate}} {{package.module.name}}</a>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <span class="btn btn-sm" ng-class="{'btn-danger': package.state!='locked',   disabled: package.state=='locked'}" ng-click="UnInstall(package.module)"><span class="fa fa-recycle"></span> {{"Delete"| translate}} </span>
                                    <span class="btn btn-sm btn-info" ng-click="Pack(package.module)"><span class="fa fa-file-archive-o"></span> {{"Pack"| translate}}</span>
                                    <span class="btn btn-sm btn-warning" ng-click="Configure(package)"><span class="fa fa-cog"></span> {{"Configure"| translate}} </span>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pull-left" style="width: 50%;">
        <div class="panel panel-primary ">
            <div class="panel-heading">{{"Install from local"| translate}}</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>{{"module name" | translate}}</label>
                    <div class="input-group">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <input type="text" ng-model="Module.Name" class="form-control" uib-typeahead="file for file in getModules($viewValue)"
                               typeahead-loading="loadingLocations" typeahead-editable="false" typeahead-show-hint="true" typeahead-no-results="noResults">
                        <span class="input-group-btn">
                            <a class="btn btn-primary cursor" ng-click="Install()">{{"install" | translate}}</a>
                        </span>
                    </div>
                    <abbr>type the exact module name to install</abbr>
                </div>
            </div>
        </div>
    </div>

    <div class="container pull-left" style="width: 50%;">
        <div class="panel panel-success">
            <div class="panel-heading">{{"Create nodule" | translate}}</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>{{"module name" | translate}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="Module.NewName" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary cursor" ng-click="Create()">{{"create" | translate}}</a>
                        </span>
                    </div>
                    <abbr>set the name for the new module</abbr>
                </div>
            </div>
        </div>
    </div>
</div>
