<div ng-controller="terminalController">
    <style>
        .terminal {
            width: 100%;
            background-color: black;
            color: white;
        }

            .terminal pre {
                background-color: black;
                font-size: 11px;
                color: white;
                border: none!important;
            }

            .terminal span {
                clear: left;
            }
    </style>




    <md-progress-linear md-mode='indeterminate' data-ng-show="ModuleLoading"></md-progress-linear>
    <div class="row">

    </div>
    <div class="col-md-1">
        <a class="btn btn-primary" ng-click="init_terminal()">new terminal</a>



        <a ng-repeat="terminal in terminals"
           ng-class="{'btn-danger': terminal === active_terminal.id,'btn-primary': terminal !== active_terminal.id}"
           class="btn" ng-click="init_terminal(terminal)">
            connect 
        </a>



    </div>

    <div class="col-md-11">
        
        <div terminal ng-show="active_terminal!== null">

            <div class="terminal" style="height: {{PaneHeight-115}}px; overflow: auto;">
                <div ng-repeat="line in active_terminal.lines">
                  
                    <pre ng-bind="line.text"
                         style="margin-right: 15px;min-width: 100%;"></pre>
                </div>
            </div>
            <textarea class="terminal" ng-model="commandLine" style="height: 50px!important;"></textarea>
        </div>
    </div>
</div>
