 

<div class="jumbotron">
    <div class="container">
        <h1>
            nodulus<sup><small>&trade;</small></sup>

        </h1>
        <p>a dynamic node modules back office.</p>

        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>-->


        <h6>
            by ewave open-source <sup><small>&trade;</small></sup>

        </h6>

    </div>
</div>


<md-progress-linear mode="indeterminate" data-ng-show="RegisterLoading"></md-progress-linear>

<!--<paper-dialog heading="Login information" transition="paper-dialog-transition-bottom" opened>
<paper-input label="Email" data-ng-model="Email"></paper-input>
<paper-input label="Password" type="Password" data-ng-model="Password"></paper-input>
 <paper-button raisedButton class="colored" label="colored" data-ng-click="Login()" affirmative>Login</paper-button>
  
</paper-dialog>-->



 
 
 
 