   
<div data-ng-controller="SettingsCtrl" >


    

    <div class="form-group">
    <label>Language:</label>
        

       

  
       
        <select id="LanguageSelector" class="form-control" data-ng-options="language.name for language in  Languages" data-ng-model="Language" data-ng-change="SetLanguage()"></select>
    </div> 
    <div class="form-group">
        <label>
            Theme:
        </label>

        <select id="ThemeSelector" class="form-control" data-ng-options="theme for theme in Themes | orderBy: theme" data-ng-model="Theme"></select>
    </div>
    
    <div class="form-group">
        <span class="fa fa-user"></span>   Connected as:
       {{$User.User.Email}}

        <a class="btn btn-primary" aria-label="Logoff" ng-click='Logoff()'>Disconnect</a>

    </div> 

    <div class="form-group">
        installed modules
        <div class="list-group">
            <a class="list-group-item" ng-repeat="package in ModuleList">
                {{package.module.name}}

                <span class="btn btn-sm btn-danger pull-right" ng-click="UnInstall(package.module)"><span class="fa fa-recycle"></span> </span>
                <span class="btn btn-sm btn-info pull-right" ng-click="Pack(package.module)"><span class="fa fa-file-archive-o"></span> </span>
            </a>
        </div>
        
            
        </div>

    <md-progress-linear mode="indeterminate" data-ng-show="ModuleLoading"></md-progress-linear>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="Module.Name" />
            <a class="btn btn-primary" ng-click="Install()">install</a>
             

        </div>


    </div>

