<div class="container-fluid" style="text-align: center;height: 50%; padding-top: 15%;">
    <i class="fa fa-cogs" style="font-size: 150px;" ng-click="app.open();"></i>
</div>
<div class="visible-desktop navbar navbar-fixed-bottom">
    <div class="jumbotron">
        <div class="container" style="height: 100%;">
            <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>-->
            <h1>
                <span class="icon-nodulus"></span> nodulus <sup><small>&trade;</small></sup>
            </h1>
        </div>
    </div>
</div>