


<md-dialog aria-label="Select Collection" md-theme="{{$Theme.theme}}" style="width: 30%;min-height: 400px;">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="fa fa-cubes"></span>  Collection information
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label><span class="fa fa-sliders"></span> Form element</label>


                <select ng-model="property.form" class="form-control input-sm" ng-options="item as item.type.name for item in  inputTypes[property.type.name] track by item.type.name">
                    <option>{{item.type.name}}</option>
                </select>

            </div>


            <div class="panel panel-info margin-bottom" ng-show="property.form.lookup">
                <div class="panel-heading"><label><span class="fa fa-sitemap"></span> Mapping</label></div>
                <div class="panel-body">


                    <div class="form-group">
                        <span class="col-md-4">
                            <label>Lookup collection</label>

                            <select class="form-control input-sm" ng-model="property.form.lookup" ng-options="schema.name as schema.name for schema in schemas | orderBy: 'name'"></select>
                        </span>
                        <span class="col-md-4" ng-show="property.form.lookup !== undefined">
                            <label>Lookup Field Name</label>

                            <select class="form-control input-sm" ng-model="property.form.lookupNameField"
                                    ng-options="value.key as key for (key,value) in schemasObject[property.form.lookup].properties"></select>
                        </span>

                        <span class="col-md-4" ng-show="property.form.lookup !== undefined">
                            <label>Value Field Name</label>

                            <select class="form-control input-sm" ng-model="property.form.lookupNameFieldValue"
                                    ng-options="value.key as key for (key,value) in schemasObject[property.form.lookup].properties"></select>
                        </span>
                    </div>
                    <div class="form-group" ng-show="tempInput.enum !==  undefined">
                        <md-content class="md-padding" layout="column">
                            <label>
                                Insert enum tags:
                                <md-chips ng-model="property.form.enum" readonly="readonly" ng-if="property.form.enum!== undefined">
                                    <md-chip-template>
                                        <strong>{{$chip}}</strong>
                                        <em>(enum {{$index}})</em>
                                    </md-chip-template>
                                </md-chips>
                            </label>



                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><label><span class="fa fa-paint-brush"></span> Look & feel</label></div>
                <div class="panel-body">



                    <div class="form-group">

                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label> field symbol</label>
                                <input type="text" class="form-control input-sm" ng-model="property.form.fieldAddonLeft" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading"><label><span class="fa-check-square-o"></span> Validation</label></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="property.form.required" />
                            Required

                        </label>

                        <label>
                            <input type="checkbox" ng-model="property.form.readonly" />
                            Read only

                        </label>

                    </div>

                    

                    <div class="form-group">
                        <label><input type="checkbox" ng-model="property.form.nameField" /> Name Field</label>

                    </div>

                </div>
            </div>

          



           
        </div>
                <div class="panel-footer">
                    <a class="btn btn-default btn-sm pull-left" ng-click="cancel()">
                        <i class="glyphicon glyphicon-edit"></i> Cancel

                    </a>
                    <a class="btn btn-primary btn-sm pull-right" ng-click="answer()">
                        <i class="glyphicon glyphicon-ok"></i> OK

                    </a>

                    <div style="clear: both;"></div>

                </div>
            </div>










</md-dialog>

